/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* Padding hea der position fixed */
    padding-top: 75px;
}

/* Utils */
.container{
    max-width: 1000px;
    margin: 0 auto;
}

.container-small{
    max-width: 850px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.basic-layout{
    max-width: 1000px;
    margin: 0 auto;
}

.btn-primary{
    background-color: #0160FC;
    font-size: 17px;
    color: white;
    
    height: 40px;
    padding: 5px;
    border: none;
}

.btn-primary:hover{
    background-color: lightblue;
}

.btn-primary:active{
    background-color: #0160FC;
}

.link{
    color: #0160FC;
}

.link:hover{
    color: gray;
}

.link:active{
    color: #0160FC;
}

/* Header */
#header-page{
    background-color: #B8CFE6;
}

/* Header top */
.header-top-container{
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    height: 75px;
    margin: 0 10px;
}

.white{
    color: white;
}

/* Left */

.header-top-nav-left{
    flex-basis: 30%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
}

.header-top-nav-left ul{
    display: flex;
    list-style: none;
    margin-left: 30px;
}

.header-top-nav-left ul li a{
    text-decoration: none;
    margin-right: 25px;
    color: gray;
}

/* Right */
.header-top-nav-right{
    flex-basis: 70%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
}

.header-top-nav-right ul {
    display: flex;
    list-style: none;
}

.header-top-nav-right ul li a{
    text-decoration: none;
    margin-right: 25px;
    color: gray;
}

.header-top-container ul li a:hover{
    color: #0160FC;
}

.header-top-container ul li a:active{
    color: gray;
}



#btn-right a{
    background-color: #0160FC;
    padding: 5px 10px;

}

#btn-right a{
    color: white;
}

#btn-right a:hover{
    background-color: lightblue;
}

#btn-right a:active{
    background-color: #0160FC;
}

.btn-nav a{
    text-decoration: none;
    color: gray;
}

/* Header bottom */
.header-bottom-container{
    min-height: 100px;
    max-height: 500px;
}

.header-bottom-title{
    font-weight: bolder;
    font-size: 50px;
    margin-bottom: 27px;
}

.header-bottom-left{
    width: 40%;
}

.header-bottom-left p{
    margin-bottom: 27px;
}

.header-bottom-left button{
    margin-bottom: 27px;
}

/* Header bottom right */
.header-bottom-right{
    flex-basis: 60%;
}

.header-bottom-right-img img{
    width: 100%;
}

/* Section payments plans */
#payments-plans{
    margin-top: 115px;
}

#payments-plans h1{
    font-size: 40px;
    margin-bottom: 60px;
}

/* Radio button */

.rdb{
    margin-bottom: 50px;
}

.rdb-left{
    margin-right: 100px;
}

.rdb-left, .rdb-right{
    display: inline-block;
}

/* .rdb-left::before{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: blue;
}
 */

 /* Payments plans cards */

 .row{
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
 }
 .col, .col button{
    flex-basis: calc(100% / 4);
    flex-grow: 1;
    border: 2px black dashed;
    font-size: 13px;
 }

 .col-header{
    height: 30px;
    border-bottom: 1px dashed black;
    justify-content: center;
    align-items: center;

 }

 .col-title{
    font-size: 19px;
 }

 .col-content{
    width: 80%;
    margin: 20px auto;
 }

.price{
    margin-top: 18px;
    font-size: 12px;
    font-weight: bold;
}

.price-monthly{
    margin-top: 12px;
    margin-bottom: 45px;
    color: grey;
}

.plans-info div{ 
    margin-top: 12px;
}

.plans-info button{
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100%;
}

#buy-now{
    margin-bottom: 50px;
}

#buy-now a{
    color: #0160FC;
}

.border{
    border: 1px solid lightgray;
    width: 23%;
    margin-bottom: 50px;
}

/* Column footer */
.col-footer{
    margin-top: 300px;
    margin-bottom: 10pc;

}

.col-footer p{
    margin-top: 12px;
    margin-bottom: 12px;
}

/* Section payments plans footer*/
.foot-container{
    margin-top: 125px;
}

footer .row{
    width: 100%;
}

footer .left{
    width: 55%;
    background-color: gray;;
}

.right{
    flex-basis: 40%;
}

.left img{
    width: 100%;
}

.right-content{
    margin-top: 50px;
    font-size: 15px;
}

.right-content h3{
    font-size: 19px;
}

.right-content > *{
    margin-bottom: 14px;
    margin-left: 10px;
}

.right-content button{
    background-color: white;
    color: gray;
    border: 2px solid gray;
    font-size: 14px;
    width: 40%;
    margin-top: 7px;
}

.right-content button:hover{
    background-color: lightgray;
}

.right-content button:active{
    background-color: white;
}

/* Section DropBox Buisness*/
#section-dropbox-buisness{
    margin-top: 120px;
}

#section-dropbox-buisness h2{
    font-size: 28px;
    font-stretch: expanded;
    margin-bottom: 44px;
}

#section-dropbox-buisness main{
    width: 100%;
    gap: 30px;
    flex-shrink: 1;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card{
    margin: 2px dashed black;
    min-height: 100px;
    flex-basis: calc(100% / 3 - 20px * 3);
}

.card img{
    max-width: 100%;
    margin-bottom: 5px;
}

.content > *{
    margin-bottom: 10px;
}

/* Section clients */
#clients header{
    margin-top: 100px;
    margin-bottom: 100px;
}

#clients header > h2{
    margin-bottom: 40px;
    font-size: 27px;
    width: 50%;
}

#clients .link{
    font-size: 13px;
}

/* Clients Main */
.clients-container{
    min-height: 100px;
    width: 100%;
    justify-content: space-between;
}

.clients-container .card{
    flex-basis: calc(100% / 3);
    flex-wrap: wrap;
    justify-content: flex-start;
}

.logo{
    position: relative;
    width: 250px;
    height: 250px;
    justify-content: center;
}

.logo img{
    justify-content: center;
    align-items: center;
    width: 50%;
    max-height: 100%;
}

.img-container{
    width: 40%;
}

.card .container{
    width: 90%;
    margin-top: 30px;
    margin-left: 30px;
}

.card .container img{
    margin-bottom: 20px;
}

.card .container p{
    color: gray;
    font-size: 13px;
    margin-bottom: 40px;
}

/* Clients footer */
footer .clients-container{
    height: 200px;
    background-color: cadetblue;
    justify-content: center;
    margin-bottom: 50px;
}

footer .content{
    width: 50%;
    justify-content: space-around;
    align-items: center;
    color: brown;
}

footer .content button{
    background-color: white;
    color: gray;
    font-size: 13px;
}