/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* Padding header position fixed */
    padding-top: 75px;
}

/* Utils */
.container{
    max-width: 1000px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.basic-layout{
    max-width: 1000px;
    margin: 0 auto;
}

.btn-layout{
    background-color:  royalblue;
    font-size: 17px;
    color: white;
    
    height: 40px;
    padding: 5px;
    border: none;
}

/* Header */
#header-page{
    background-color: #B8CFE6;
}

/* Header top */
.header-top-container{
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    height: 75px;
    margin: 0 10px;
}

.white{
    color: white;
}

/* Left */

.header-top-nav-left{
    flex-basis: 30%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
}

.header-top-nav-left ul{
    display: flex;
    list-style: none;
    margin-left: 30px;
}

.header-top-nav-left ul li a{
    text-decoration: none;
    margin-right: 25px;
    color: gray;
}

/* Right */
.header-top-nav-right{
    flex-basis: 70%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
}

.header-top-nav-right ul {
    display: flex;
    list-style: none;
    margin-right: 25px;
}

.header-top-nav-right ul li a{
    text-decoration: none;
    margin-right: 25px;
    color: gray;
}


#btn-right{
    margin-left: 10px;
    background-color: cornflowerblue;
}

#btn-right a{
    color: white;
}

.btn-nav a{
    text-decoration: none;
    color: gray;
}

/* Header bottom */
.header-bottom-container{
    min-height: 100px;
}

.header-bottom-title{
    font-weight: bolder;
    font-size: 50px;
}

.header-bottom-left{
    width: 40%;
    margin-top: 40px;
}

.header-bottom-left p{
    margin-bottom: 27px;
}

.header-bottom-left button{
    margin-bottom: 27px;
}

.fa-arrow-down:hover{
    color: gray;
}

/* Header bottom right */
.header-bottom-right{
    min-height: 100px;
    width: 60%;
    border: 2px dashed black;
}